# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env (JANGAN commit secrets — Neon, blob, dst)
.env
.env.local
.env.*.local
.env.development.local
.env.production.local
!.env.example

# prisma
/prisma/*.db

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
/coverage
